{% extends 'base.html.twig' %}

{% block title %}New Novedad{% endblock %}

{% block body %}
    <h1>Create new Novedad</h1>

    {{ include('novedad/_form.html.twig') }}

    <a href="{{ path('novedad_index') }}">back to list</a>
{% endblock %}
