{% extends 'base.html.twig' %}

{% block title %}Edit Escribano{% endblock %}

{% block body %}
    <h1>Edit Escribano</h1>

    {{ include('escribano/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('escribano_index') }}">back to list</a>

    {{ include('escribano/_delete_form.html.twig') }}
{% endblock %}
